<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order!</h1>
    <% @order.line_items.each do |item| %>
      <%= render 'item', item: item %>
    <% end %>

    <p> Your total is <%= @order.total_cents %> </p>
    <p> We hope you have a wonderful day, </p>

    Jungle staff
  </body>
</html>